/* reset  */
html {
    scroll-behavior: smooth;
}

body {
    height: 1000vh;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* font  */

@font-face {
    font-family: 'BodoniModa';
    src: url('font/BodoniModa-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main>h1 {
    font-family: 'BodoniModa', sans-serif;
}

/* start header  */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    background-color: #fdfdfd;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    transition: .4s ease-in;

    >div {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;


        >a {
            height: 100%;
            display: flex;
            align-items: center;
            color: black;
            font-size: 19px;
            font-weight: 500;
            margin-right: 30px;
            padding-inline: 5px;
            text-decoration: none;
            position: relative;
            text-decoration: none;
            color: inherit;


            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 20px;
                width: 5px;
                height: 5px;
                background-color: currentColor;
                border-radius: 50%;
                opacity: 0;
                transform: translateX(-50%) scale(0);
                transition: .4s ease;
            }

            &:hover::after {
                transform: translateX(-50%) scale(1);
                opacity: .9;

            }

            &:hover {
                scale: 1.1;
                transition: .5s;
            }

        }

        &:nth-of-type(2) {
            justify-content: center;
        }

        &:nth-of-type(3) {
            justify-content: end;

            >a {
                margin-right: 0;
            }
        }
    }

}

/* start main  */

main {

    #sec1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h1 {
            font-size: 150px;
            text-align: center;
            position: relative;
            z-index: 999;
            top: 200px;
            transition: .2s ease-out;
        }

        >img {
            width: 70%;
            height: 80vh;
            position: relative;
            z-index: 998;
            top: 300px;
            transition: .6s ease-out;
        }
    }


    #sec2 {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 425px;
        transition: translateY 1s;
        background-color: #fff;
        z-index: 9998;

        >div {
            font-size: 38px;
            color: black;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'BodoniModa', sans-serif;
            font-weight: 600;



            &:nth-of-type(1) {
                width: 100%;
                text-align: center;
            }

            &:nth-of-type(2) {
                width: 100%;
                text-align: center;
                top: calc(40%);
                left: calc(50% - 14px);
            }

            >* {
                overflow: hidden;

                >p {
                    transition: 1s ease-in-out;
                }
            }

        }

        .star {
            display: flex;
            align-items: center;
            display: flex;
            position: absolute;
            top: 90vh;

            >div {
                width: 500px;
                height: 1px;
                opacity: .5;
                background-color: black;
            }

            >img {
                width: 50px;
                height: 50px;
                opacity: 1;
                visibility: visible;
                transition: transform 0.3s ease;
            }
        }
    }


    #sec3 {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2 {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            font-family: BodoniModa;
        }

        >p {
            font-size: 18px;
            text-align: center;
            margin-bottom: 30px;
        }

        >div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            >figure {
                width: 28%;
                height: 600px;
                overflow: hidden;
                background-color: rgba(0, 0, 255, 0.502);
                background-position: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #fdfdfd;
                transition: .4s;

                &:hover>a::after {
                    transform: translateX(-50%) scale(1);
                    opacity: .9;
                }

                &:hover>a {
                    scale: 1.1;
                    transition: .5s;
                }

                &:hover>h3 {
                    scale: 1.1;
                    transition: .5s;
                }

                &:hover>p {
                    scale: 1.1;
                    transition: .5s;
                }

                >h3 {
                    font-size: 43px;
                    text-align: center;
                    margin-top: 200px;
                    margin-bottom: 20px;
                    transition: .4s;

                }

                >p {
                    width: 80%;
                    font-size: 20px;
                    text-align: center;
                    transition: .4s;

                }

                >a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: black;
                    font-size: 19px;
                    font-weight: 500;
                    margin-right: 30px;
                    padding-inline: 5px;
                    text-decoration: none;
                    position: relative;
                    top: 100px;
                    text-decoration: none;
                    color: inherit;
                    transition: .4s;



                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 120px;
                        width: 5px;
                        height: 5px;
                        background-color: currentColor;
                        border-radius: 50%;
                        opacity: 0;
                        transform: translateX(-50%) scale(0);
                        transition: .4s ease;
                    }
                }



                &:nth-of-type(1) {
                    background-image: url(img/67e98e2930d76b050550e1a1_pexels-brunoabdiel-2698415.avif);

                }

                &:nth-of-type(2) {
                    background-image: url(img/67e98e29b79af9703b7e24cc_pexels-brunoabdiel-5396662.avif);

                }

                &:nth-of-type(3) {
                    background-image: url(img/67e98e2a5a56e134f622e0fc_pexels-brunoabdiel-5396663.avif);

                }

            }
        }

        .star2 {
            display: flex;
            align-items: center;
            display: flex;
            position: absolute;
            top: 800px;

            >div {
                width: 500px;
                height: 1px;
                opacity: .5;
                background-color: black;
            }

            >img {
                width: 50px;
                height: 50px;
                opacity: 1;
                visibility: visible;
                transition: transform 0.3s ease;
            }
        }
    }

    #sec4 {
        width: 100%;
        height: 85vh;
        position: relative;
        top: 1300px;
            overflow: hidden;



        >div {
            display: flex;
            align-items: center;
            padding: 20px 30px;
            justify-content: space-between;

            >h3 {
                font-size: 50px;
            }

            >div {
                >span {
                    width: 100px !important;
                    height: 100px !important;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.121);
                    }

                    &:nth-of-type(1) {
                        margin-right: 5px;

                        >img {
                            rotate: 180deg;
                            transform: translateY(-1px);
                        }
                    }

                    >img {
                        width: 25px;
                        height: 25px;
                    }
                }

            }
        }

        >section {
            width: 3150px;
            position: relative;
            top: 0;left: 0;
            display: flex;
            align-items: center;
            gap: 30px;
            margin-top: 10px;
            padding-left: 35px;
            transition: .7s ease-in-out;

            >div {
                display: flex;
                align-items: center;
                text-align: center;
                padding: 40px;
                min-width: 600px;
                height: 350px;
                border-radius: 10px;
                background-color: #e8eae5;
                font-family: BodoniModa;
                

                >p {
                    font-size: 20px;
                }
            }
        }
    }
}







.fix {
    position: fixed !important;
    top: 80px !important;
    left: 0 !important;
}